<!-- ./views/layouts/main.handlebars -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  
<!-- include css files here -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/index.css">
</head>

<body>
  <!-- navigation -->
  <header>
    <nav>
      <ul class="nav-item">
        <li class="push"><a href="/"><button>Home</button></a></li>
        <li><a href="/about/"><button>About</button></a></li>
        <li><a href="/portfolio/"><button>Portfolio</button></a></li>
        <li><a href="/contact/"><button>Contact</button></a></li>
      </ul>
    </nav>
  </header>
  <!-- partial templates will replace the part of "body" here -->
  {{{ body }}}
  <script src="/javascripts/jquery-3.3.1.js"></script>
  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>
</html>