body {
  margin: auto 0;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.nav-item {
  display: flex;
  list-style: none;
  margin: 0;
}

li {
  padding: 0.5rem;
}

.push {
  margin-right: auto;
}

h2 {
  padding: 1rem;
}

button {
  background-color: #E8E8E8;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #474444;
  color: white;
}




